---
import LandingLayout from "@layouts/LandingLayout.astro";
import { getCollection } from "astro:content";
const journal = await getCollection("journal", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
const baseUrl = import.meta.env.BASE_URL;
---

<LandingLayout title="Posts">
  <main>
    {
      journal.map((entry) => (
        <a href={`${baseUrl}/journal/${entry.slug}`}>
          <div class="bg-white rounded-lg shadow-md p-6">
            <p class="font-semibold text-gray-800">
              Entry: {entry.data.title}
            </p>
          </div>
        </a>
      ))
    }
  </main>
</LandingLayout>
