---
import LandingLayout from "@layouts/LandingLayout.astro";
import Navigation from "@components/Navigation.astro";
---

<LandingLayout title="Who is Justin Dennison?">
  <section>
    <Navigation /> 
  </section>
  <section>
    <header></header>
    <main></main>
    <footer></footer>
  </section> 
</LandingLayout>
