---
import { ClientRouter } from "astro:transitions";
import BaseHead from "@components/BaseHead.astro";
interface Props {
  title: string;
}
---

<!doctype html>
<html lang="en" class="antialiased break-words">
  <head>
    <BaseHead title="Justin's Landing Page" />
    <script>
      if (localStorage.theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
    <ClientRouter />
  </head>
  <body class="bg-gray-100">
    <slot />
  </body>
</html>
