---
import { ClientRouter } from "astro:transitions";
import BaseHead from "@components/BaseHead.astro";
interface Props {
  title: string;
}

const { title } = Astro.props

---

<!doctype html>
<html lang="en" class="antialiased break-words">
  <head>
    <BaseHead title={title} />
    <script>
      if (localStorage.theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
    <ClientRouter />
  </head>
  <body class="bg-gray-100">
    <slot />
  </body>
</html>
