---
import { ViewTransitions } from "astro:transitions";
import MainContent from "@components/MainContent.astro";
import Navigation from "@components/Navigation.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="flex h-screen">
    <Navigation />
    <MainContent>
      <slot />
    </MainContent>
  </div>
</BaseLayout>
